* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Red Hat Display', sans-serif;
}

main {
  background-image: url(../../images/pattern-background-desktop.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 100vh;
  background-color: #e0e8ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .container {
  height: 80vh;
  width: 30vw;
  margin: auto;
  border-radius: 30px;
  background-color: #fff;
  -webkit-box-shadow: 0px 23px 20px rgba(79, 102, 150, 0.2);
          box-shadow: 0px 23px 20px rgba(79, 102, 150, 0.2);
}

main header {
  height: 26vh;
  background-size: cover;
  background-image: url(../../images/illustration-hero.svg);
  border-radius: 30px 30px 0 0;
  background-position: center;
}

main section {
  height: 54vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main section h1 {
  font-weight: 900;
}

main section p {
  text-align: center;
  width: 350px;
  letter-spacing: 1px;
  font-size: 16px;
  line-height: 29px;
  color: #7280a7;
}

main section button {
  height: 50px;
  width: 300px;
  background: #3829e0;
  color: #fff;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 0px 23px 20px  #D6D0FF;
          box-shadow: 0px 23px 20px  #D6D0FF;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

main section button:hover {
  background: #766CF1;
}

main section .annual-plan {
  background: #f5f7ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 90px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
  border-radius: 10px;
}

main section .annual-plan a {
  color: #3829e0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

main section .annual-plan a:hover {
  color: #766CF1;
}

main section .annual-plan .left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main section .annual-plan .annual-plan-img {
  height: 50px;
  width: 50px;
  background: #f5f7ff;
  background-image: url(../../images/icon-music.svg);
  margin-right: 10px;
}

main section .annual-plan .text {
  font-weight: 700;
  border-radius: 10px;
}

main section .annual-plan .text span {
  font-weight: 500;
  color: #7280a7;
}

main section h2 {
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

main section h2:hover {
  opacity: 1;
}

.attribution {
  position: absolute;
  bottom: 2%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (max-width: 375px) {
  main {
    background-image: url(../../images/pattern-background-mobile.svg);
  }
  main .container {
    width: 90vw;
  }
  main .container p {
    letter-spacing: 0;
  }
}
/*# sourceMappingURL=style.css.map */